<% provide(:title, "About") %>
<h1><%= t ".title" %></h1>
<p>
  The <a href="https://www.railstutorial.org/"><em><%= t ".desc_sample" %></em>
  </a> is a
  <a href="https://www.railstutorial.org/book"><%= t "book" %></a> and
  <a href="http://screencasts.railstutorial.org/"><%= t "series" %></a>
  <%= t ".desc" %>
  <a href="http://rubyonrails.org/"><%= t "ror" %></a>.
  <%= t "desc_sample" %>
</p>
