<% provide(:title, "About") %>
<h1><%= t ".title" %></h1>
<p>
  The <a href="https://www.railstutorial.org/"><em><%= t "tutorial" %></em></a>
  is a <a href="https://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  <%= t "screencasts" %>
  <a href="http://rubyonrails.org/"><%= t "ror" %></a>.
  <%= t "desc" %>
</p>
