<% provide(:title, "Help") %>
<h1><%= t ".title" %></h1>
<p>
 <%= t ".get_help" %> <%= t "tutorial" %> at the
  <a href="https://www.railstutorial.org/help"><%= t ".rails" %> help section</a>
  . <%= t ".to_help" %>
  <a href="https://www.railstutorial.org/book"><em><%= t ".tutorial" %></em>
  <%= t "book" %></a>.
</p>

