<footer class="footer">
  <small>
    The <a href="<%= t "tutorial_link" %> "><%= t "tutorial" %></a>
    by <a href="<%= t "name_link" %>"><%= t "name" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to ( t "about" ) , about_path %></li>
      <li><%= link_to ( t "contact" ), contact_path %></li>
      <li><a href="<%= t "new_tutorial_link" %> ">News</a></li>
    </ul>
  </nav>
</footer>
